@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가된 스타일 */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.loading-dots {
  animation: blink 1.4s infinite both;
}

.loading-dots span {
  animation-delay: 0.2s;
}

.loading-dots span + span {
  animation-delay: 0.4s;
}
